{% extends "initial.html" %}

{% block body %}
    <div class="container">

        <div class="row">
            <div class="col-lg-8">
                <h1 style="padding-top: 15px"><a href="{% url 'home' %}">Django Jobbers</a></h1>
                <strong>работа для талантливых Django программистов</strong>
            </div>
            <div class="col-lg-4">
                <div style="padding-top: 40px; text-align: right">
                    <a class="btn btn-success" href="{% url 'catalog_add' %}">Добавить вакансию</a>
                    <a class="btn btn-warning" href="{% url 'subscribe_add' %}">Подписаться</a>
                </div>
            </div>

        </div>

        <hr class="soften"/>


        <div class="row">
            <div class="col-lg-12">
                {% block breadcrumbs %}
                {% endblock %}

                {% block messages %}
                    {% include "elements/messages.html" %}
                {% endblock %}

                <div class="header_text">
                    {% block header %}
                    {% endblock %}
                </div>

                {% block content %}{% endblock %}
            </div>
        </div>


        <div class="row" style="margin-bottom: 20px">
            <hr/>
            <div class="col-lg-2">
                <small>djangojobbers.ru 2014</small>
            </div>

            <div class="col-lg-2">

            </div>

            <div class="col-lg-offset-7 counter-area">
                <!--LiveInternet counter--><script type="text/javascript"><!--
                document.write("<a href='//www.liveinternet.ru/click' "+
                "target=_blank><img src='//counter.yadro.ru/hit?t14.16;r"+
                escape(document.referrer)+((typeof(screen)=="undefined")?"":
                ";s"+screen.width+"*"+screen.height+"*"+(screen.colorDepth?
                screen.colorDepth:screen.pixelDepth))+";u"+escape(document.URL)+
                ";h"+escape(document.title.substring(0,80))+";"+Math.random()+
                "' alt='' title='LiveInternet: number of pageviews for 24 hours,"+
                " of visitors for 24 hours and for today is shown' "+
                "border='0' width='88' height='31'><\/a>")
                //--></script><!--/LiveInternet-->
            </div>
        </div>
    </div>

    <div class="container bottom-tear"></div>


{#    {% include "elements/other.html" %}#}


{% endblock %}
