{% extends "initial.html" %}

{% block title %}Django работа для талантливых программистов{% endblock %}

{% block extra_meta %}{{ block.super }}
    <meta name="google-site-verification" content="9R98udsRuvMGpJ30Ff5_CFMoNwhit1H1lRXMAg5utgg" />
    <meta name='yandex-verification' content='6086b7634543a71d' />
{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="sense">
                    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                    <!-- djangojobbers -->
                    <ins class="adsbygoogle"
                         style="display:inline-block;width:728px;height:90px"
                         data-ad-client="ca-pub-8893191334405901"
                         data-ad-slot="4752468949"></ins>
                    <script>
                    (adsbygoogle = window.adsbygoogle || []).push({});
                    </script>
                </div>
            </div>
        </div>


        <div class="row">
            <div class="col-lg-8">
                {% block site_title %}
                    <h1 style="padding-top: 15px"><a href="{% url 'home' %}">Django Jobbers</a></h1>
                    <strong>работа для талантливых Django программистов</strong>
                {% endblock %}
            </div>
            <div class="col-lg-4">
                <div style="padding-top: 40px; text-align: right">
                    <a class="btn btn-success" href="{% url 'catalog_add' %}">Добавить вакансию</a>
                    <a class="btn btn-warning" href="{% url 'subscribe_add' %}">Подписаться</a>
                </div>
            </div>

        </div>

        <hr class="soften"/>


        <div class="row">
            <div class="col-lg-12">
                {% block breadcrumbs %}
                {% endblock %}

                {% block messages %}
                    {% include "elements/messages.html" %}
                {% endblock %}

                <div class="header_text">
                    {% block header %}
                    {% endblock %}
                </div>

                {% block content %}{% endblock %}
            </div>
        </div>


        <div class="row" style="margin-bottom: 20px">
            <hr/>
            <div class="col-lg-3">
                <small>{{ site.domain }} {% now "Y" %} </small>
                <small><a href="{% url 'feedback_index' %}">Обратая связь</a></small>
            </div>

            <div class="col-lg-3">

            </div>

            <div class="col-lg-offset-6 counter-area">
                <!--LiveInternet counter--><script type="text/javascript"><!--
                document.write("<a href='//www.liveinternet.ru/click' "+
                "target=_blank><img src='//counter.yadro.ru/hit?t44.6;r"+
                escape(document.referrer)+((typeof(screen)=="undefined")?"":
                ";s"+screen.width+"*"+screen.height+"*"+(screen.colorDepth?
                screen.colorDepth:screen.pixelDepth))+";u"+escape(document.URL)+
                ";h"+escape(document.title.substring(0,80))+";"+Math.random()+
                "' alt='' title='LiveInternet' "+
                "border='0' width='31' height='31'><\/a>")
                //--></script><!--/LiveInternet-->
            </div>
        </div>
    </div>

    <div class="container bottom-tear"></div>


{#    {% include "elements/other.html" %}#}


{% endblock %}
