$font-stack:    Helvetica, sans-serif;
$primary-color: #999;

body {
}

.asteriskField {
  color: #008000;
  font-weight: bold;
  font-size: 14px;
}

#id_email, #id_salary, #id_city, #id_employer_website {
  max-width: 50%;
}

.counter-area {
  text-align: right;
  padding-right: 5px;
}