import os

DEBUG=True

EMAIL_HOST_USER = 'noreply@phpjobbers.ru'
EMAIL_HOST_PASSWORD = '1346795'

SECRET_KEY = ''

COMPRESS_PRECOMPILERS = (
       ('text/x-sass', 'pyscss {infile} > {outfile}'),
)

DATABASES = {
    'default': {
        'ENGINE': 'django.db.backends.mysql',
        'NAME': 'moskrc_jobbers',
        'USER': 'moskrc_jobbers',
        'PASSWORD': '',
        'HOST': 'localhost',
        'PORT': '',
    }
}

LOGGING = {
    'version': 1,
    'disable_existing_loggers': False,
    'filters': {
        'require_debug_false': {
            '()': 'django.utils.log.RequireDebugFalse'
        }
    },
    'handlers': {
        'mail_admins': {
            'level': 'ERROR',
            'filters': ['require_debug_false'],
            'class': 'django.utils.log.AdminEmailHandler'
        },
        'file': {
            'level': 'DEBUG',
            'class': 'logging.handlers.RotatingFileHandler',
            'filename': '../src/phpjobbers.log',
            'maxBytes': 1024 * 1024 * 5, # 5 MB
            'backupCount': 5,
        },
        'console': {
            'level': 'DEBUG',
            'class': 'logging.StreamHandler',
        },
    },
    'loggers': {
        'django.request': {
            'handlers': ['mail_admins','file','console'],
            'level': 'ERROR',
            'propagate': True,
        },
        'project': {
            'handlers': ['file', 'console'],
            'level': 'DEBUG',
        },

    }
}
